@import "tailwindcss";

@font-face {
  font-family: 'Nacelle';
  src: url('/fonts/nacelle-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nacelle';
  src: url('/fonts/nacelle-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nacelle';
  src: url('/fonts/nacelle-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nacelle';
  src: url('/fonts/nacelle-semibolditalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

:root {
  font-family: 'Nacelle', sans-serif;
}

body {
  font-family: 'Nacelle', sans-serif;
}

* {
  font-family: 'Nacelle', sans-serif !important;
}